<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading c-list">
          <span class="title">EDITING AN GUESS LIST</span>
          <ul class="pull-right c-controls">
            <li><a href="<%= url_for(lists_path) %>" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
          </ul>
        </div>

        <div class="row" style="display: none;">
          <div class="col-xs-12">
            <div class="input-group c-search">
              <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
            </div>
          </div>
        </div>

        <ul class="list-group" id="contact-list">
          <li class="list-group-item">
            <%= render 'form' %>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>